div[data-snake-game="container"] {
    display : inline-block;
    }
div[data-snake-game="container"] > div {
    position : relative;
    background-color : rgb(167, 205, 184);
    margin : 0;
    padding : 0;
    }

div[data-snake-game="container"] > div > span {
    position : relative;
    display : inline-block;
    width : 2em;
    height : 2em;
    margin : 0;
    margin-right : 0.2em;
    background-color : rgb(167, 205, 184);
    border : 1px solid rgb(167, 205, 184);
    }

div[data-snake-game="container"] > div > span.food {
    background-color : rgb(96, 112, 97);
    border : 1px solid rgb(96, 112, 97);
    }

div[data-snake-game="container"] > div > span.snake {
    background-color : rgb(116, 132, 117);
    border : 1px solid rgb(116, 132, 117);
    }
